
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  td,
  th {
    padding: 10px;
  }
  th {
    background: lightblue;
    color: #fff;
    text-transform: uppercase;
  }
  td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
  }
  tfoot{
    text-align: center;
  }